# Environment variables
.env

# Virtual environment
*env/

# Developments specific folders
instance/
static/


# Python cache files
__pycache__/

# Database
migrations/
*.db
*.sqlite

# IDE settings
.vscode/

# Logs or temporary files (if any)
*.log
*.tmp